@import "tailwindcss";
body {
  @apply bg-black/70;
}
.login,
.signup {
  background-image: url("./assets/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dashborad-items {
  @apply hover:text-white underline-offset-8 underline;
}
